*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  

}
body {
  

}
body {
    font-family: 'Poppins', sans-serif;
    background-image: url(/All-City-Weather/Assets/Images/169953.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.date-container{
    font-size: 18px;
    font-weight: 100;
    position: relative;
    top: -550px
}
.date-container #am-pm{
    font-size: 24px;
    margin-left: 20px;
}
.date-container .time{
    font-weight: 1;
    font-size: 50px
}
.date-container .date{
    font-size: 25px;
}
.place-container{
    text-align: end;
} 
 .place-container .time-zone{
    font-size: 15px;
    font-weight: 100;
}
.place-container .country{
    font-size: 12px;
   
}

.wind2 {
    position: relative;
    left: 130px;
    top: -20px
}
.weather-forecast-item1{
   
    position: relative;
    left: -300px;
    top: 425px
    
    
}
.weather-forecast-item2{
   
    position: relative;
    left: -145px;
    top: 342px
}
.weather-forecast-item3{
 
    position: relative;
    left: -10px;
    top: 258px
}
.weather-forecast-item4{

    position: relative;
   
    left: 140px;
    top: 175px
}
.weather-forecast-item5{
   
    position: relative;
    
    left: 300px;
    top: 90px
}
 


/* targets weather app card properties */
.card {
height: 550px;
max-width: 800px;
background: rgba(24,24,27, 0.6);
margin: 100px auto 0;
border-radius: 20px;
padding: 20px;
text-align: center;
font-weight: 40px;
border: 1px solid #eee;
position: relative;
left: 25px;
bottom: -100px;
}
.search {
    width: 100px;
    position:relative;
    left: 80px;
}
.search input{
    border: 0;
    outline: 0;
    background: #edefef;
    color: #555;
    text-align: center;
    padding: 0px 1px;
    height: 40px;
    border-radius: 30px;
    flex: 1;
    position: relative;
    font-size: 18px;
    left: 110px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;  
    width: 35px;
    cursor: pointer;
    height:35px;
    position: relative;
    top: -37px;
    margin-left: 370px
    

    }
.search button img{
    width: 20px;
}

.weather-icon{
    width: 80px;
    margin-top: 30px;
}
.weather h1{
  font-size: 30px; 
  font-weight: 500; 
 position: relative;
    top: -10px
    color: #fff;
    

}
.weather h2{
    font-size: 25px; 
    font-weight: 400; 
    margin-top: -10px;
}
.W-icon{
   display: flex;
    align-items: center;
   margin-left: 320px;
    bottom: 120px;
    width: 20px;
    
    
}
.H-icon{
    top: 25px;
    width: 0px;
    position: relative;
    
}
.H-icon img{
    width: 50px;
   position: relative;
    top: -1px;
  
}
.W-icon img{
    position: relative;
    right: 50px;
    top: -70px;
    width: 50px
   
}
.humidity {
position: relative;
    top: 5px;
    
}
.humidity2 {
    top: 5px;
    position: relative;
}
.wind {
   position: relative;
    right: 95px
    
    }
.wind2 {
    margin-left: -620px
    position: relative;
    left: -160px;
    top: -82px;
}
.weather-forecast-item1{
    position: relative;

}
.weather-forecast-item2{
    position: relative;
    
}.weather-forecast-item3{
    position: relative;
    
}.weather-forecast-item4{
    position: relative;
    
}.weather-forecast-item5{
    position: relative;
    
}
